body {
    /*Set Background Trianglify image
        - Centered, Fixed, no repeat.
    */
    width: auto;
    height: auto;
    background-image: url("../img/trianglify.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

section {
    /*display: inline-block;*/
    min-width: auto;
    max-width: 30em;
    width: 25em;
    /*height: 15em;*/
    min-height: auto;
    /*max-height: 15em;*/
    margin: 20% auto 20% auto;

    background-color: azure;
    border-radius: 1em;
    border: 0px solid azure;
}

section header {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin: 1.2em auto 1.1em auto;
}
section header h2{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}

.login-Panel {
    text-align: center;
    padding-bottom: 1.2em;
}

label[for=name] {
    padding-right: 5%;
}
label[for=password] {
    padding-right: 5%;
}

#user-Name-Input {
    width: auto;
    min-width: 100px;
    max-width: 200px;
}

#user-Password-Input {
    width: auto;
    min-width: 100px;
    max-width: 200px;
}

#show-button {
    width: 40px;
    height: 35px;
    margin-top: -2px;
    vertical-align: middle;
    background-image: url("../img/edited_visible.png");
    background-size: contain;
    background-color: transparent;
    border-color: transparent;
    background-repeat: no-repeat;
}

.field-element {
    margin-bottom: 1em;
    padding-left: 5%;
    padding-right: 5%;
}

.login-button {
    border: 3px solid lightgreen;
    border-radius: .5em;
    background-color: green;
    width: 120px;
    height: 40px;
    color: whitesmoke
}

.create-button {
    border: 3px solid lightskyblue;
    border-radius: .5em;
    background-color: blue;
    width: 120px;
    height: 40px;
    color: whitesmoke
}